<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Usuário cadastrado</title>
        
        <link rel="stylesheet" href="cadastro.css">
    </head>
    <body>
        <h1>Dados Gravados com Sucesso!</h1><br />
        <b>Dados Gravados:</b><br />
        <br />
        <!-- ID Usuário: <%= dados.id %><br /> -->
        ID Lattes: <%= dados.id_lattes %><br />
        <!-- ID Personalizável: <%= dados.id_personalizavel %><br /> -->
        <br />
        Nome: <%= dados.nome_completo %><br />
        Categoria: <%= dados.categoria %><br />
        Email: <%= dados.email %><br />
        Senha: <%= dados.senha %><br />
        <!-- Idade: <%= dados.idade %><br /> -->
        CPF: <%= dados.cpf %><br />
        Data Cadastro: <%= dados.data_cadastro %><br />
        <br />
        <!-- Número Seguidores: <%= dados.seguidores %><br />
        Número Seguindo: <%= dados.seguindo %><br />
        Número Pontos: <%= dados.pontos %><br />
        Número Advertências: <%= dados.advertencias %><br />
        <a href="/">Página Inicial</a> -->
    </body>
</html>