<html>
    <head>
        <title>Exibe os dados do Formulário</title>
    </head>
    <body>
        <h1>Dados Gravados com Sucesso!</h1><br>
        <b>Dados Gravados:
        </b><br/>
        Id Personalizável: <%= info.id_personalizavel %><br>
        Nome: <%= info.nome_completo %><br>
        email: <%= info.email %><br>
        senha: <%= info.senha %><br>
        idade: <%= info.idade %><br>
        cpf: <%= info.cpf %><br>
        id_lattes: <%= info.id_lattes %><br>
        <a href="/">Página Inicial</a>
    </body>
</html>
