<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Discussão</title>

        <link rel="icon" type="image/png" sizes="16x16" href="../midias/imagens/favicon.png">

        <link rel="stylesheet" href="../css/discussao.css">
    </head>
    <body>
        <div class="container">
            <%- include('components/menu.ejs'); %>

            <main class="discussao">
                <header class="discussao__header">
                    <a href="/feed" class="discussao__header__voltar">
                        <div class="discussao__header__voltar__setinha"></div>
                        <span class="discussao__header__voltar__texto">Voltar</span>
                    </a>
                    <div class="discussao__header__autor-e-data">
                        <span class="discussao__header__autor-e-data__autor">
                            <%=publicacao.nome_autor%>
                        </span>
                        -
                        <span class="discussao__header__autor-e-data__data">
                            <%=publicacao.data%>
                        </span>
                    </div>
                    <h1 class="discussao__header__titulo">
                        <%=publicacao.titulo%>
                    </h1>
                    <p class="discussao__header__descricao">
                        <%=publicacao.descricao%>
                    </p>
                    <span class="discussao__header__respostas">
                        <div class="discussao__header__respostas__numero">
                            <%=numeroDeRespostas%>
                        </div>
                        Respostas
                    </span>
                </header>

                <div class="discussao__respostas">
                    <%  for (let index = 0; index < comentariosDiscussao.length; index++) { %>
                        <div class="discussao__respostas__resposta">
                            <a href="/perfil" class="discussao__respostas__resposta__topo">
                                <img src=<%=comentariosDiscussao[index].caminho_foto_perfil%> alt="" class="discussao__respostas__resposta__topo__img">
                                <span class="discussao__respostas__resposta__topo__nome-autor">
                                    <%=comentariosDiscussao[index].nome_completo%>
                                </span>
                            </a>

                            <p class="discussao__respostas__resposta__conteudo">
                                <%=comentariosDiscussao[index].conteudo%>
                            </p>

                            <div class="discussao__respostas__resposta__icones">
                                <a href="" class="discussao__respostas__resposta__icones__icone">
                                    <svg class="icon">
                                        <use xlink:href="../midias/icones/curtida.svg#curtida"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    <%  }  %> 
                </div>

                <form class="discussao__form" action="/novoComentario" method="POST">
                    <input type="hidden" name="id" value="<%=publicacao.id%>">
                    <input type="text" name="comentario" id="" placeholder="Adicoinar comentário">
                </form>
            </main>

            <%- include('components/menu-secundario.ejs'); %>

            <%- include('components/iala.ejs') %>
        </div>
    </body>
</html>