<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Explorar</title>

        <link rel="icon" type="image/png" sizes="16x16" href="../midias/imagens/favicon.png">

        <link rel="stylesheet" href="../css/explorar.css">
    </head>
    <body>
        <div class="container">
            <%- include('components/menu.ejs'); %>

            <main class="explorar" atual="usuarios">
                <header class="explorar__header">
                    <form action="/explorar" class="explorar__header__form">
                        <input class="explorar__header__form__input" type="search" name="explorar" id="" placeholder="O que você está procurando?">
                    </form>

                    <ul class="explorar__header__menu">
                        <li class="explorar__header__menu__item" id="usuarios">Usuários</li>
                        <li class="explorar__header__menu__item" id="areas-cientificas">Áreas Científicas</li>
                        <li class="explorar__header__menu__item" id="destaques">Destaques</li>
                    </ul>
                </header>
                <div class="explorar__conteudo">
                    <div class="explorar__conteudo__usuarios">
                        <%  for (let index = 0; index < usuarios.length; index++) { %>
                            <a href="/perfil?id=<%=usuarios[index].id%>" class="explorar__conteudo__usuarios__usuario">
                                <img src="<%=usuarios[index].caminho_foto_perfil%>" alt="" class="explorar__conteudo__usuarios__usuario__foto-perfil">
                                <div class="explorar__conteudo__usuarios__usuario__informacoes">
                                    <div class="explorar__conteudo__usuarios__usuario__informacoes__nome-usuario">
                                        <%=usuarios[index].nome_completo%>
                                    </div>
                                    <div class="explorar__conteudo__usuarios__usuario__informacoes__interesse">
                                        <span class="explorar__conteudo__usuarios__usuario__informacoes__interesse__review">
                                            <%=usuarios[index].categoria%>
                                        </span>
                                        <!-- <span class="explorar__conteudo__usuarios__usuario__informacoes__interesse__area-cientifica">
                                            Dentista
                                        </span> -->
                                    </div>
                                </div>
                            </a>
                        <%  }  %>
                    </div>

                    <div class="explorar__conteudo__areas-cientificas">
                        <a href="/feed?areaCientifica=medicina" class="explorar__conteudo__areas-cientificas__area-cientifica explorar__conteudo__areas-cientificas__area-cientifica" style="background-image: url('midias/imagens/medicina.jpg')">
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__retangulo explorar__conteudo__areas-cientificas__area-cientifica__retangulo--medicina"></div>
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__palavra">Medicina</div>
                        </a>
                        
                        <a href="/feed?areaCientifica=medicina" class="explorar__conteudo__areas-cientificas__area-cientifica explorar__conteudo__areas-cientificas__area-cientifica--odontologia" style="background-image: url('midias/imagens/dentista.jpg')">
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__retangulo explorar__conteudo__areas-cientificas__area-cientifica__retangulo--odontologia"></div>
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__palavra">Odontologia</div>
                        </a>

                        <a href="/feed?areaCientifica=medicina" class="explorar__conteudo__areas-cientificas__area-cientifica explorar__conteudo__areas-cientificas__area-cientifica--farmacia" style="background-image: url('midias/imagens/farmacia.jpg')">
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__retangulo explorar__conteudo__areas-cientificas__area-cientifica__retangulo--farmacia"></div>
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__palavra">Farmácia</div>
                        </a>

                        <a href="/feed?areaCientifica=medicina" class="explorar__conteudo__areas-cientificas__area-cientifica explorar__conteudo__areas-cientificas__area-cientifica--nutricao" style="background-image: url('midias/imagens/nutricao.jpg')">
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__retangulo explorar__conteudo__areas-cientificas__area-cientifica__retangulo--nutricao"></div>
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__palavra">Nutrição</div>
                        </a>

                        <a href="/feed?areaCientifica=medicina" class="explorar__conteudo__areas-cientificas__area-cientifica explorar__conteudo__areas-cientificas__area-cientifica--saude-coletiva" style="background-image: url('midias/imagens/saude-coletiva.jpg')">
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__retangulo explorar__conteudo__areas-cientificas__area-cientifica__retangulo--saude-coletiva"></div>
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__palavra">Saúde Coletiva</div>
                        </a>

                        <a href="/feed?areaCientifica=medicina" class="explorar__conteudo__areas-cientificas__area-cientifica explorar__conteudo__areas-cientificas__area-cientifica--fonoaudiologia" style="background-image: url('midias/imagens/fonoaudiologia.jpg')">
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__retangulo explorar__conteudo__areas-cientificas__area-cientifica__retangulo--fonoaudiologia"></div>
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__palavra">Fonoaudiologia</div>
                        </a>

                        <a href="/feed?areaCientifica=medicina" class="explorar__conteudo__areas-cientificas__area-cientifica explorar__conteudo__areas-cientificas__area-cientifica--educacao-fisica" style="background-image: url('midias/imagens/educacao-fisica.jpg')">
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__retangulo explorar__conteudo__areas-cientificas__area-cientifica__retangulo--educacao-fisica"></div>
                            <div class="explorar__conteudo__areas-cientificas__area-cientifica__palavra">Educação Física</div>
                        </a>
                    </div>

                    <div class="explorar__conteudo__destaques">
                        <%  for (let index = 0; index < publicacoes.length; index++) { %>
                            <div class="publicacao" categoria=<%=publicacoes[index].categoria%> tem-imagem=<%=publicacoes[index].tem_imagem%> imagem-e-escura=<%=publicacoes[index].imagem_e_escura%> id-publicacao=<%=publicacoes[index].id_publicacao%>>
                                <div class="publicacao__topo">
                                    <div class="publicacao__topo__informacoes-usuario">
                                        <img src=<%=publicacoes[index].caminho_foto_perfil%> alt="" class="publicacao__topo__informacoes-usuario__foto-perfil">
                                        <a href="/perfil?id=<%=publicacoes[index].id_usuario%>" class="publicacao__topo__informacoes-usuario__nome">
                                            <%=publicacoes[index].nome_completo%>
                                        </a>
                                    </div>
                                    <div class="tres-pontinhos">
                                        <div class="tres-pontinhos__pontinho"></div>
                                        <div class="tres-pontinhos__pontinho"></div>
                                        <div class="tres-pontinhos__pontinho"></div>
                                    </div>
                                </div>
                                <a href="/<%=publicacoes[index].categoria%>?id=<%=publicacoes[index].id_publicacao%>" class="publicacao__previa" style="background-image: url('<%=publicacoes[index].caminho_imagem%>')">
                                    <div class="publicacao__previa__container">
                                        <div class="publicacao__previa__container__informacoes">
                                            <div class="publicacao__previa__container__informacoes__tipo" tipo="discussao">
                                                <span class="publicacao__previa__container__informacoes__tipo__texto">
                                                    <%  if (publicacoes[index].categoria == 'discussao') { %>
                                                            <%= "Discussão" %>
                                                    <%  } else if (publicacoes[index].categoria == 'pesquisa') { %>
                                                            <%= "Pesquisa" %>
                                                    <%  } else { %>
                                                            <%= "Review" %>
                                                    <%  } %>
                                                </span>
                                                <span class="publicacao__previa__container__informacoes__tipo__tracinho">-</span>
                                                <span class="publicacao__previa__container__informacoes__tipo__status">
                                                    <%  if (publicacoes[index].status == 'aberta') { %>
                                                        <%= "Aberta" %>
                                                    <%  } else if (publicacoes[index].status == 'fechada') { %>
                                                        <%= "Fechada" %>
                                                    <%  }  %> 
                                                </span>
                                            </div>
        
                                            <div class="publicacao__previa__container__informacoes__pontos">
                                                <%  if (publicacoes[index].categoria_discussao != 'review') { %>
                                                    <span class="publicacao__previa__container__informacoes__pontos__numero">
                                                        <%=publicacoes[index].pontos%>
                                                    </span>
                                                    Pontos
                                                <%  }  %> 
                                            </div>
                                        </div>
                                        <span class="publicacao__previa__container__titulo">
                                            <%=publicacoes[index].titulo%>
                                        </span>
                                    </div>
                                    <!-- <span class="publicacao--1__previa__titulo"> Minions, por que tão fofinhos? </span> -->
                                </a>
                                <div class="publicacao__informacoes">
                                    <div class="publicacao__informacoes__curtidas">
                                        <svg class="icon publicacao__informacoes__curtidas__icone">
                                            <use xlink:href="midias/icones/curtida.svg#curtida"></use>
                                        </svg>
        
                                        <div class="publicacao__informacoes__curtidas__informacao">
                                            <span class="publicacao__informacoes__curtidas__informacao__numeroDeCurtidas">
                                                <%  if (publicacoes[index].numero_de_curtidas != 0) {  %> 
                                                    <%=publicacoes[index].numero_de_curtidas%>
                                                <%  }  %>
                                            </span>
                                            <%  if (publicacoes[index].numero_de_curtidas == 0) {  %> 
                                                <%="Seja o primeiro a curtir isso!"%>
                                            <%  } else if (publicacoes[index].numero_de_curtidas == 1) {  %>
                                                <%="pessoa curtiu esse post!"%>
                                            <%  } else { %>
                                                <%="pessoas curtiram esse post!"%>
                                            <%  }  %>
                                        </div>
                                    </div>
        
                                    <span class="publicacao__informacoes__verComentarios" alternar-visibiliadade-comentario id-publicacao=<%=publicacoes[index].id_publicacao%>>
                                        Ver comentários
                                    </span>
                                </div>
                                <div class="publicacao__interacoes">
                                    <svg class="icon publicacao__interacoes__interacao">
                                        <use xlink:href="midias/icones/curtida.svg#curtida"></use>
                                    </svg>
                                    <svg class="icon publicacao__interacoes__interacao" id="iconeComentario" alternar-visibiliadade-comentario id-publicacao=<%=publicacoes[index].id_publicacao%>>
                                        <use xlink:href="midias/icones/comentario.svg#comentario"></use>
                                    </svg>
                                    <svg class="icon publicacao__interacoes__interacao">
                                        <use xlink:href="midias/icones/compartilhar.svg#compartilhar"></use>
                                    </svg>
                                    <svg class="icon publicacao__interacoes__interacao">
                                        <use xlink:href="midias/icones/salvar.svg#salvar"></use>
                                    </svg>
                                </div>
        
                                <div class="publicacao__descricao">
                                    <span class="publicacao__descricao__conteudo" id-publicacao=<%=publicacoes[index].id_publicacao%>>
                                        <%=publicacoes[index].descricao%>
                                    </span>
                                    <span class="publicacao__descricao__verMais" alternar-visibiliadade-descricao id-publicacao=<%=publicacoes[index].id_publicacao%>>ver mais...</span>
                                </div>
        
                                <div class="publicacao__comentarios" id-publicacao=<%=publicacoes[index].id_publicacao%>>
                                    <div class="publicacao__comentarios__novoComentario">
                                        <!-- <input type="text" class="publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"> -->
                                        <textarea class="publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"></textarea>
                                    </div>
        
                                    <div class="publicacao__comentarios__comentarios">
                                        <%  for (let indexC = 0; indexC < comentarios.length; indexC++) { %>
                                            <%  if (comentarios[indexC].id_publicacao == publicacoes[index].id_publicacao) { %>                                                    
                                                    <div class="publicacao__comentarios__comentarios__comentario" >
                                                        <a href="/perfil?id=<%=comentarios[indexC].id_usuario%>" class="publicacao__comentarios__comentarios__comentario__bloco-esquerda">
                                                            <img src="midias/imagens/foto-perfil-<%=comentarios[indexC].id_usuario%>.jpg" alt="" class="publicacao__comentarios__comentarios__comentario__bloco-esquerda__img">
                                                            <div class="publicacao__comentarios__comentarios__comentario__bloco-esquerda__conteudo">
                                                                <span class="publicacao__comentarios__comentarios__comentario__conteudo__nomeAutor">
                                                                    <%=comentarios[indexC].nome_completo%>
                                                                </span>
                                                                <span class="publicacao__comentarios__comentarios__comentario__conteudo__comentario">
                                                                    <%=comentarios[indexC].conteudo%>
                                                                </span>
                                                            </div>
                                                        </a>
                                                        <div class="publicacao__comentarios__comentarios__comentario__bloco-direita">
                                                            <svg class="icon publicacao__comentarios__comentarios__comentario__bloco-direita__estrelinha">
                                                                <use xlink:href="midias/icones/curtida.svg#curtida"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                            <%  }  %> 
                                        <%  }  %>
                                    </div>
                                </div>
                            </div>
                        <%  } %>
                    </div>
                </div>
            </main>

            <%- include('components/menu-secundario.ejs'); %>

            <%- include('components/iala.ejs') %>
        </div>

        <script src="js/explorar.js"></script>
    </body>
</html>