<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil</title>

        <link rel="icon" type="image/png" sizes="16x16" href="../midias/imagens/favicon.png">

        <link rel="stylesheet" href="../css/perfil.css">
    </head>
    <body>
        <div class="container">
            <%- include('components/menu.ejs'); %>

            <main class="perfil">
                <img src=<%=usuario.caminho_banner%> alt="" class="perfil__banner">

                <div class="perfil__informacoes">
                    <div class="perfil__informacoes__bloco-esquerda">
                        <img src=<%=usuario.caminho_foto_perfil%> alt="" class="perfil__informacoes__bloco-esquerda__img">

                        <div class="perfil__informacoes__bloco-esquerda__pontuacao">
                            <span class="perfil__informacoes__bloco-esquerda__pontuacao__numero">
                                <%=usuario.pontos%>
                            </span>
                            <span class="perfil__informacoes__bloco-esquerda__pontuacao__texto">Pontos</span>
                        </div>
                    </div>

                    <div class="perfil__informacoes__bloco-direita">
                        <div class="perfil__informacoes__bloco-direita__textos">
                            <div class="perfil__informacoes__bloco-direita__textos__bloco-um">
                                <h1 class="perfil__informacoes__bloco-direita__textos__bloco-um__nome-autor">
                                    <%=usuario.nome_completo%>
                                </h1>
                                <svg class="icon perfil__informacoes__bloco-direita__textos__bloco-um__verificado" usuario-verificado="sim">
                                    <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                </svg>
                            </div>
                            <div class="perfil__informacoes__bloco-direita__textos__bloco-dois">
                                <h2 class="perfil__informacoes__bloco-direita__textos__bloco-dois__arroba">
                                    <%=usuario.id_personalizavel%>
                                </h2>
                                <h2 class="perfil__informacoes__bloco-direita__textos__bloco-dois__funcao">
                                    <%  if (usuario.categoria == 'qualificado') {   %>
                                    <%=     usuario.formacao || ''                  %>
                                    <%  } else {}                                   %>
                                </h2>
                            </div>
                        </div>
                        
                        <div class="perfil__informacoes__bloco-direita__numeros">
                        <div class="perfil__informacoes__bloco-direita__numeros__dado">
                            <span class="perfil__informacoes__bloco-direita__numeros__dado__numero">
                                <%=usuario.ranking%>
                            </span>
                            <span class="perfil__informacoes__bloco-direita__numeros__dado__texto">Rank</span>
                        </div>
                        <div class="perfil__informacoes__bloco-direita__numeros__dado">
                            <span class="perfil__informacoes__bloco-direita__numeros__dado__numero">
                                <%=usuario.seguidores%>
                            </span>
                            <span class="perfil__informacoes__bloco-direita__numeros__dado__texto">Seguidores</span>
                        </div>
                        <div class="perfil__informacoes__bloco-direita__numeros__dado">
                            <span class="perfil__informacoes__bloco-direita__numeros__dado__numero">
                                <%=usuario.seguindo%>
                            </span>
                            <span class="perfil__informacoes__bloco-direita__numeros__dado__texto">Seguindo</span>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="perfil__sobre-e-publicacoes" id="listaSobreEPublicacoes" ativo="1">
                    <ul class="perfil__sobre-e-publicacoes__caixa-de-selecao">
                        <li class="perfil__sobre-e-publicacoes__caixa-de-selecao__item" id="publicacoes">Publicações</li>
                        <li class="perfil__sobre-e-publicacoes__caixa-de-selecao__item" id="sobre">Sobre</li>
                    </ul>

                    <div class="perfil__sobre-e-publicacoes__sobre">
                        <div class="perfil__sobre-e-publicacoes__sobre__header">
                            <div class="perfil__sobre-e-publicacoes__sobre__header__titulo">Visão Geral</div>
                            <!-- <div class="perfil__sobre-e-publicacoes__sobre__header__editar">Editar</div> -->
                        </div>

                        <p class="perfil__sobre-e-publicacoes__sobre__conteudo">
                            <%=usuario.sobre%>
                        </p>
                    </div>

                    <div class="perfil__sobre-e-publicacoes__publicacoes">
                        <%  for (let index = 0; index < publicacoes.length; index++) { %>
                            <div class="publicacao" categoria=<%=publicacoes[index].categoria%> tem-imagem=<%=publicacoes[index].tem_imagem%> imagem-e-escura=<%=publicacoes[index].imagem_e_escura%> id-publicacao=<%=publicacoes[index].id_publicacao%>>
                                <div class="publicacao__topo">
                                    <div class="publicacao__topo__informacoes-usuario">
                                        <img src=<%=publicacoes[index].caminho_foto_perfil%> alt="" class="publicacao__topo__informacoes-usuario__foto-perfil">
                                        <a href="/perfil?id=<%=publicacoes[index].id_usuario%>" class="publicacao__topo__informacoes-usuario__nome">
                                            <%=publicacoes[index].nome_completo%>
                                        </a>
                                    </div>
                                    <div class="tres-pontinhos">
                                        <div class="tres-pontinhos__pontinho"></div>
                                        <div class="tres-pontinhos__pontinho"></div>
                                        <div class="tres-pontinhos__pontinho"></div>
                                    </div>
                                </div>
                                <a href="/<%=publicacoes[index].categoria%>?id=<%=publicacoes[index].id_publicacao%>" class="publicacao__previa" style="background-image: url('<%=publicacoes[index].caminho_imagem%>')">
                                    <div class="publicacao__previa__container">
                                        <div class="publicacao__previa__container__informacoes">
                                            <div class="publicacao__previa__container__informacoes__tipo" tipo="discussao">
                                                <span class="publicacao__previa__container__informacoes__tipo__texto">
                                                    <%  if (publicacoes[index].categoria == 'discussao') { %>
                                                            <%= "Discussão" %>
                                                    <%  } else if (publicacoes[index].categoria == 'pesquisa') { %>
                                                            <%= "Pesquisa" %>
                                                    <%  } else { %>
                                                            <%= "Review" %>
                                                    <%  } %>
                                                </span>
                                                <span class="publicacao__previa__container__informacoes__tipo__tracinho">-</span>
                                                <span class="publicacao__previa__container__informacoes__tipo__status">
                                                    <%  if (publicacoes[index].status == 'aberta') { %>
                                                        <%= "Aberta" %>
                                                    <%  } else if (publicacoes[index].status == 'fechada') { %>
                                                        <%= "Fechada" %>
                                                    <%  }  %> 
                                                </span>
                                            </div>
        
                                            <div class="publicacao__previa__container__informacoes__pontos">
                                                <%  if (publicacoes[index].categoria_discussao != 'review') { %>
                                                    <span class="publicacao__previa__container__informacoes__pontos__numero">
                                                        <%=publicacoes[index].pontos_equivalentes%>
                                                    </span>
                                                    Pontos
                                                <%  }  %> 
                                            </div>
                                        </div>
                                        <span class="publicacao__previa__container__titulo">
                                            <%=publicacoes[index].titulo%>
                                        </span>
                                    </div>
                                    <!-- <span class="publicacao--1__previa__titulo"> Minions, por que tão fofinhos? </span> -->
                                </a>
                                <div class="publicacao__informacoes">
                                    <div class="publicacao__informacoes__curtidas">
                                        <svg class="icon publicacao__informacoes__curtidas__icone">
                                            <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                        </svg>
        
                                        <div class="publicacao__informacoes__curtidas__informacao">
                                            <span class="publicacao__informacoes__curtidas__informacao__numeroDeCurtidas">
                                                <%  if (publicacoes[index].numero_de_curtidas != 0) {  %> 
                                                    <%=publicacoes[index].numero_de_curtidas%>
                                                <%  }  %>
                                            </span>
                                            <%  if (publicacoes[index].numero_de_curtidas == 0) {  %> 
                                                <%="Seja o primeiro a curtir isso!"%>
                                            <%  } else if (publicacoes[index].numero_de_curtidas == 1) {  %>
                                                <%="pessoa curtiu esse post!"%>
                                            <%  } else { %>
                                                <%="pessoas curtiram esse post!"%>
                                            <%  }  %>
                                        </div>
                                    </div>
        
                                    <span class="publicacao__informacoes__verComentarios">
                                        Ver comentários
                                    </span>
                                </div>
                                <div class="publicacao__interacoes">
                                    <svg class="icon publicacao__interacoes__interacao">
                                        <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                    </svg>
                                    <svg id="iconeComentario" class="icon publicacao__interacoes__interacao">
                                        <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                    </svg>
                                    <svg class="icon publicacao__interacoes__interacao">
                                        <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                    </svg>
                                    <svg class="icon publicacao__interacoes__interacao">
                                        <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                    </svg>
                                </div>
        
                                <div class="publicacao__descricao">
                                    <span class="publicacao__descricao__conteudo">
                                        <%=publicacoes[index].descricao%>
                                    </span>
                                    <span class="publicacao__descricao__verMais">ver mais...</span>
                                </div>
        
                                <div class="publicacao__comentarios">
                                    <div class="publicacao__comentarios__novoComentario">
                                        <!-- <input type="text" class="publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"> -->
                                        <textarea class="publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"></textarea>
        
                                        <svg class="publicacao__comentarios__novoComentario__iconeEmoji">
                                            <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                        </svg>
                                    </div>
        
                                    <div class="publicacao__comentarios__comentarios">

                                        <%  for (let indexC = 0; indexC < comentarios.length; indexC++) { %>
                                            <%  if (comentarios[indexC].id_publicacao == publicacoes[index].id_publicacao) { %>                                                    
                                                    <div class="publicacao__comentarios__comentarios__comentario" >
                                                        <a href="/perfil?id=<%=comentarios[indexC].id_usuario%>" class="publicacao__comentarios__comentarios__comentario__bloco-esquerda">
                                                            <img src="midias/imagens/foto-perfil-padrao.jpg" alt="" class="publicacao__comentarios__comentarios__comentario__bloco-esquerda__img">
                                                            <div class="publicacao__comentarios__comentarios__comentario__bloco-esquerda__conteudo">
                                                                <span class="publicacao__comentarios__comentarios__comentario__conteudo__nomeAutor">
                                                                    <%=comentarios[indexC].nome_completo%>
                                                                </span>
                                                                <span class="publicacao__comentarios__comentarios__comentario__conteudo__comentario">
                                                                    <%=comentarios[indexC].conteudo%>
                                                                </span>
                                                            </div>
                                                        </a>
                                                        <div class="publicacao__comentarios__comentarios__comentario__bloco-direita">
                                                            <svg class="icon publicacao__comentarios__comentarios__comentario__bloco-direita__estrelinha">
                                                                <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                            <%  }  %> 
                                        <%  }  %>
                                    </div>
                                </div>
                            </div>
                        <%  } %>
    
                        <!-- <div class="publicacao" tipo="pesquisa" tem-imagem="sim" imagem-e-escura="nao">
                            <div class="publicacao__topo">
                                <div class="publicacao__topo__informacoes-usuario">
                                    <img src="midias/imagens/foto-perfil-padrao.jpg" alt="" class="publicacao__topo__informacoes-usuario__foto-perfil">
                                    <a href="/perfil?id=1" class="publicacao__topo__informacoes-usuario__nome">Lucas Barccinela</a>
                                    <span class="publicacao__topo__informacoes-usuario__seguir">Seguir</span>
                                </div>
                                <div class="tres-pontinhos">
                                    <div class="tres-pontinhos__pontinho"></div>
                                    <div class="tres-pontinhos__pontinho"></div>
                                    <div class="tres-pontinhos__pontinho"></div>
                                </div>
                            </div>
                            <a href="/pesquisa?id=1" class="publicacao__previa" style="background-image: url('midias/imagens/publicacao-2.jpg')">
                                <div class="publicacao__previa__container">
                                    <div class="publicacao__previa__container__informacoes">
                                        <div class="publicacao__previa__container__informacoes__tipo" tipo="discussao">
                                            <span class="publicacao__previa__container__informacoes__tipo__texto">Pesquisa</span>
                                            <span class="publicacao__previa__container__informacoes__tipo__tracinho">-</span>
                                            <span class="publicacao__previa__container__informacoes__tipo__status">Aberta</span>
                                        </div>
    
                                        <div class="publicacao__previa__container__informacoes__pontos">
                                            <span class="publicacao__previa__container__informacoes__pontos__numero">10</span>
                                            Pontos
                                        </div>
                                    </div>
                                    <span class="publicacao__previa__container__titulo"> Minions, por que tão fofinhos? </span>
                                </div>
                            </a>
                            <div class="publicacao__informacoes">
                                <div class="publicacao__informacoes__curtidas">
                                    <svg class="icon publicacao__informacoes__curtidas__icone">
                                        <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                    </svg>
    
                                    <div class="publicacao__informacoes__curtidas__informacao">
                                        <span class="publicacao__informacoes__curtidas__informacao__numeroDeCurtidas">10</span>
                                        curtiram esse post!
                                    </div>
                                </div>
    
                                <span class="publicacao__informacoes__verComentarios">
                                    Ver comentários
                                </span>
                            </div>
                            <div class="publicacao__interacoes">
                                <svg class="icon publicacao__interacoes__interacao">
                                    <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                </svg>
                                <svg class="icon publicacao__interacoes__interacao">
                                    <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                </svg>
                                <svg class="icon publicacao__interacoes__interacao">
                                    <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                </svg>
                                <svg class="icon publicacao__interacoes__interacao">
                                    <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                </svg>
                            </div>
    
                            <div class="publicacao__descricao">
                                <span class="publicacao__descricao__conteudo">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quibusdam hic eveniet perferendis modi optio quasi, corrupti officiis? Laudantium quasi quo, eius fugit qui at! Deleniti aut nulla perspiciatis fuga sunt laborum commodi amet nihil?
                                </span>
                                <span class="publicacao__descricao__verMais">ver mais...</span>
                            </div>
    
                            <div class="publicacao__comentarios">
                                <div class="publicacao__comentarios__novoComentario">
                                    <textarea class="publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"></textarea>
    
                                    <svg class="publicacao__comentarios__novoComentario__iconeEmoji">
                                        <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                    </svg>
                                </div>
    
                                <div class="publicacao__comentarios__comentarios">
                                    <div class="publicacao__comentarios__comentarios__comentario">
                                        <img src="midias/imagens/foto-perfil-padrao.jpg" alt="" class="publicacao__comentarios__comentarios__comentario__img">
                                        <div class="publicacao__comentarios__comentarios__comentario__conteudo">
                                            <span class="publicacao__comentarios__comentarios__comentario__conteudo__nomeAutor">
                                                Bruna Gabrielli
                                            </span>
                                            <span class="publicacao__comentarios__comentarios__comentario__conteudo__comentario">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex maxime voluptatibus neque recusandae nihil, iure porro quae labore nesciunt reiciendis inventore iusto voluptas voluptate rerum est vero distinctio asperiores fugit.
                                            </span>
                                        </div>
                                        <svg class="icon publicacao__comentarios__comentarios__comentario__estrelinha">
                                            <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="publicacao" tipo="review" tem-imagem="sim" imagem-e-escura="sim">
                            <div class="publicacao__topo">
                                <div class="publicacao__topo__informacoes-usuario">
                                    <img src="midias/imagens/foto-perfil-padrao.jpg" alt="" class="publicacao__topo__informacoes-usuario__foto-perfil">
                                    <a href="/perfil?id=1" class="publicacao__topo__informacoes-usuario__nome">Lucas Barccinela</a>
                                    <span class="publicacao__topo__informacoes-usuario__seguir">Seguir</span>
                                </div>
                                <div class="tres-pontinhos">
                                    <div class="tres-pontinhos__pontinho"></div>
                                    <div class="tres-pontinhos__pontinho"></div>
                                    <div class="tres-pontinhos__pontinho"></div>
                                </div>
                            </div>
                            <a href="/review?id=1" class="publicacao__previa" style="background-image: url('midias/imagens/publicacao-1.jpg')">
                                <div class="publicacao__previa__container">
                                    <div class="publicacao__previa__container__informacoes">
                                        <div class="publicacao__previa__container__informacoes__tipo" tipo="discussao">
                                            <span class="publicacao__previa__container__informacoes__tipo__texto">Review</span>
                                            <span class="publicacao__previa__container__informacoes__tipo__tracinho">-</span>
                                            <span class="publicacao__previa__container__informacoes__tipo__status">Aberta</span>
                                        </div>
    
                                        <div class="publicacao__previa__container__informacoes__pontos">
                                            <span class="publicacao__previa__container__informacoes__pontos__numero">10</span>
                                            Pontos
                                        </div>
                                    </div>
                                    <span class="publicacao__previa__container__titulo"> Minions, por que tão fofinhos? </span>
                                </div>
                            </a>
                            <div class="publicacao__informacoes">
                                <div class="publicacao__informacoes__curtidas">
                                    <svg class="icon publicacao__informacoes__curtidas__icone">
                                        <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                    </svg>
    
                                    <div class="publicacao__informacoes__curtidas__informacao">
                                        <span class="publicacao__informacoes__curtidas__informacao__numeroDeCurtidas">10</span>
                                        curtiram esse post!
                                    </div>
                                </div>
    
                                <span class="publicacao__informacoes__verComentarios">
                                    Ver comentários
                                </span>
                            </div>
                            <div class="publicacao__interacoes">
                                <svg class="icon publicacao__interacoes__interacao">
                                    <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                </svg>
                                <svg class="icon publicacao__interacoes__interacao">
                                    <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                </svg>
                                <svg class="icon publicacao__interacoes__interacao">
                                    <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                </svg>
                                <svg class="icon publicacao__interacoes__interacao">
                                    <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                </svg>
                            </div>
    
                            <div class="publicacao__descricao">
                                <span class="publicacao__descricao__conteudo">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quibusdam hic eveniet perferendis modi optio quasi, corrupti officiis? Laudantium quasi quo, eius fugit qui at! Deleniti aut nulla perspiciatis fuga sunt laborum commodi amet nihil?
                                </span>
                                <span class="publicacao__descricao__verMais">ver mais...</span>
                            </div>
    
                            <div class="publicacao__comentarios">
                                <div class="publicacao__comentarios__novoComentario">
                                    <textarea class="publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"></textarea>
    
                                    <svg class="publicacao__comentarios__novoComentario__iconeEmoji">
                                        <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                    </svg>
                                </div>
    
                                <div class="publicacao__comentarios__comentarios">
                                    <div class="publicacao__comentarios__comentarios__comentario">
                                        <img src="midias/imagens/foto-perfil-padrao.jpg" alt="" class="publicacao__comentarios__comentarios__comentario__img">
                                        <div class="publicacao__comentarios__comentarios__comentario__conteudo">
                                            <span class="publicacao__comentarios__comentarios__comentario__conteudo__nomeAutor">
                                                Bruna Gabrielli
                                            </span>
                                            <span class="publicacao__comentarios__comentarios__comentario__conteudo__comentario">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex maxime voluptatibus neque recusandae nihil, iure porro quae labore nesciunt reiciendis inventore iusto voluptas voluptate rerum est vero distinctio asperiores fugit.
                                            </span>
                                        </div>
                                        <svg class="icon publicacao__comentarios__comentarios__comentario__estrelinha">
                                            <use xlink:href="midias/icones/lattes.svg#lattes"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </main>

            <%- include('components/menu-secundario.ejs'); %>

            <%- include('components/iala.ejs') %>
        </div>

        <script src="js/perfil.js"></script>
    </body>
</html>